

.tabContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: monospace;
    font-size: 15px;
}

.tab {
    background-color: #cbcaca;
    padding: 10px 20px;
    cursor: pointer;
    margin-inline: 5px;
    color: #e12121;
    font-weight: bold ;
}

.activeTab {
    background-color: rgba(169, 169, 169, 0.8);
}

.activeContent {
    font-family: verdana;
    font-size: 90%;
}

/* Calculator */

.calculator {
    justify-content: left;
    border: 2px solid;
    padding: 10px;
    background-color:black;
    width: 290px;
    height: 230px;
}

input[type=button] {
    border: 1px solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    width: 50px;
    height:100%;
    background-color:aliceblue;
    border-radius: 100px;
}

.displayBox {
    background-color:beige;
    width: 95%;
    height: 20px;
}